body {
	background: #9F06D4;
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
	margin: 0;
	padding: 0%;
}

h1 {
	text-align: center;
	font-size: 70px;
}

.textos {
	background: white; 
}

p {
	text-align: center;
}


